@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

*{
margin: 0;
padding: 0;
border: 0;
}
  
  body{
    background-color: #b5aee5;
     }

     header{
padding: 32px;
border-bottom:1px solid #a282ed;
background-color: rgb(123, 109, 227);
     }
    .links
     {
text-align: center;
     }
.links a {
color: rgb(255, 255, 255);
font-size: 20px;
line-height: 30px;
margin: 0 16px;
text-decoration: none;
font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  transition:color 1000ms;
        }
       .links a:hover{
            color: rgb(17, 0, 100);  
            transition: color 1000ms; 
            font-size: 22px;

       }
       #box {
text-align: center;
padding: 32px;

       }
       #box img{ 
border-radius: 50%;
border: 3px solid #ed82dd;
margin-bottom: 32px;
       }
       #box h1{ 
font-size: 42px;
line-height: 52px;
font-weight: bold;

       }
       #box h2{
font-size: 24px;
line-height: 34px;
font-weight: normal;
margin-top: 8px;
opacity: 0.8;
       }
#box p{
max-width: 500px;
margin: 32px auto;
font-size: 24px;
line-height: 34px;
}
#linksfooter{
     padding-top: 32px;
}
#linksfooter a{
     padding-top: 32px;
     padding-bottom: 8px;
     border-bottom: 3px solid #f5ff36;
}